@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: #009278;
  --color-primary-dark: #012433;
  --color-primary-light: #eafffb80;
  --color-grayish: #efefef;
  --color-whitish: #fafafa;
  --color-pencil: #302f2f;
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.trapezoid {
  clip-path: polygon(20% 0%, 80% 0%, 100% 100%, 0% 100%);
}

.reversed-trapezoid {
  clip-path: polygon(0 0, 100% 0, 80% 100%, 20% 100%);
}

.triangle {
  clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
}
